* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2% 15% 1% 15%;
}

.title {
  text-align: center;
}

.container__formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.formulario {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.formulario__container--inputs {
  display: flex;
  gap: 100px;
}

.formulario--boton {
  align-self: flex-start;
}