* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 15%;
}

.title {
  text-align: center;
}

.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formulario__container--inputs {
  display: flex;
}